:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --white: #fff;
  --sun-yellow: #edc655;
  --sun-red: #f76414;
  --primary-color-darker: #05676e;
  --dark-teal: #489c79;
  --heading-weight: 700;
  --header-background: #101146;
  --header-link: #d78f11;
  --header-link--secondary: #a0690b;
  --header-link--tertiary: #fccd7d;
}
* {
  box-sizing: border-box;
}
 body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--dark-grey);
  font-size: 16px;
  line-height: 1.6;
}
h1 {
  font-size: 30px;
  font-weight: var(--heading-weight);
}
h2 {
  font-size: 24px;
  font-weight: var(--heading-weight);
}
h3 {
  font-size: 18px;
  font-weight: var(--heading-weight);
}

/* Link and button styling */
a {
  color: var(--header-link)
}
a:visited {
  color: var(--header-link);
}
a:hover, a:focus {
  text-decoration: none;
}
a:active {
  color: var(--header-link--secondary);
}
.button, button {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity .2s;
}
.button:hover, button:hover, .button:focus, button:focus {
  cursor: pointer;
  opacity: 0.8;
}
.button a, button a {
  color: var(--white);
}

/* header and nav styling */
.page-header {
  background-color: var(--header-background);
  margin-bottom: 25px;
}
.header__contents {
  display: flex;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
.page-header__item {
  flex: 0 1 200px;
}
#logo {
  width: 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.navigation-list__item--active {
  text-decoration: none;
}
nav.page-header__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation-list {
  list-style: none;
  margin: 0;
}
.navigation-list li {
  display: inline-block;
  margin-left: 12px;
}

/*  main container styling */
body {
  background-color: rgba(244, 245, 196, 0.5);
}

/* index.html page. profile image and info */
.profile {
  max-width: 700px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.profile__portrait {
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

/* work.html styling */
  /* start grid fallback */ 
.grid__item {
  display: inline-block;
  width: 33%;
}   /* end grid fallback */
    
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .grid__item {
    background-color: lightgray;
    padding: 15px;
    width: auto;
    min-height: auto;
    margin: 0;
  }
  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

/* about.html styling */
.about {
  max-width: 720px;
  min-width: 320px;
  margin: 0 auto;
}
.about__about {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about__about ul {
  list-style: none;
  padding: 0;
}
.about__about a {
  width: 200px;
  margin: 0 auto;
}
.about__table, .about__svg {
  display: flex;
  justify-content: center;
}
@keyframes color-change {
  from {
    fill: var(--sun-yellow);
  } to {
    fill: var(--sun-red);
  }
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  } to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  } to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* contact styling */
.contact__container {
  display: flex;
  flex-direction: column;
}
.contact__message {
  display: flex;
  justify-content: center;
}
.contact__message form {
  display: flex;
  flex-direction: column;
}
.contact__message form label {
  padding-top: 10px;
}
.contact__mesage_limit {
  padding: 0 0 10px 0;
  margin: 0;
}
.contact__container h1 {
  margin: 50px auto 0 auto;
}
.contact__info {
  display: flex;
  justify-content: center;
}
/* footer styling */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.social-media a {
  padding: 0 5px;
}

/* media query */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
