:root {
  --header-background: #101146;
  --header-link: #d78f11;
  --header-link--secondary: #a0690b;
  --header-link--tertiary: #fccd7d;
  --body-background: #ffffe2;
  --alt-text: rgb(26, 54, 90);
  --container-background: #7777501c;
  --container-shadow: #5252372f;
  --button-shadow: #1011464d;
  --white: #fff;
  --contact-link: #314ab9;
  --heading-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: var(--header-background);
  background-color: var(--body-background);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
h1 {
  font-size: 30px;
  font-weight: var(--heading-weight);
}
h2 {
  font-size: 24px;
  font-weight: var(--heading-weight);
}
h3 {
  font-size: 18px;
  font-weight: var(--heading-weight);
}

/* Link and button styling */
a {
  color: var(--header-link);
}
a:visited {
  color: var(--header-link);
}
a:hover,
a:focus {
  text-decoration: none;
}
a:active {
  color: var(--header-link--secondary);
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  background-color: var(--header-background);
  color: var(--header-link);
  padding: 3px 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
  box-shadow: 1px 1px 1px var(--button-shadow);
}
.button:hover,
button:hover,
.button:focus,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}
.button a,
button a {
  color: var(--white);
}

/* header and nav styling */
.page-header {
  background-color: var(--header-background);
  margin-bottom: 25px;
}
.header-contents {
  display: flex;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
#logo {
  width: 200px;
  height: 70px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.navigation-list__item--active {
  text-decoration: none;
}
nav.page-header__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation-list li {
  display: inline-block;
  margin-left: 12px;
}

/*  main container styling */
.main-content {
  max-width: 720px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-content {
  width: 80%;
  justify-content: center;
  max-width: 720px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}
.contact-format-helper div {
  display: flex;
  justify-content: center;
}
.content-container {
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.heading-container {
  display: flex;
  justify-content: center;
}
.container-padding {
  padding: 0 20px 20px 20px;
}
.flex-col {
  flex-direction: column;
}
.container-background {
  background-color: var(--container-background);
}
.container-shadow {
  box-shadow: 3px 3px 2px var(--container-shadow);
}

/* index.html page. profile image and info */

.elevator-pitch p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.project-container {
  display: flex;
  position: relative;
  margin: 10px 0;
  border-radius: 5px;
}
.project-modal {
  display: flex;
  opacity: 0%;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(17, 17, 17, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.project-modal:hover {
  opacity: 100%;
}

.project-image-container {
  display: flex;
  align-items: center;
  width: 40%;
}
.project-image {
  width: 100%;
  border-radius: 5px 0 0 5px;
}
.project-description {
  display: flex;
  width: 60%;
  margin: 20px;
  align-items: center;
}
.project-details-link {
  display: none;
}

/* movie-craze.html styling */

.work-content-container {
  display: flex;
  border-radius: 5px;
}
.work-content-container h2 {
  text-decoration: underline !important;
}
.work-content-container p {
  color: var(--alt-text);
}
.image {
  border-radius: 5px;
  width: 300px;
  box-shadow: 2px 2px 5px;
}
.image-left {
  float: left;

  margin-right: 20px;
}
.image-right {
  float: right;
  margin-left: 20px;
}

/* about.html styling */
.skills-container {
  display: flex;
  justify-content: center;
}
.skills-container ul li {
  margin: 0 20px;
}

/* contact styling */
.input-error {
  border: 1px solid red;
}
.input-success {
  border: 1px solid green;
}
.errors {
  color: var(--alt-text);
  font-style: italic;
  font-size: 12px;
}
.contact-message {
  display: block;
}
.contact-message form {
  display: flex;
  flex-direction: column;
}
.contact-message form label {
  padding-top: 10px;
}
.contact-mesage_limit {
  padding: 0 0 10px 0;
  margin: 0;
}
.contact-container h1 {
  margin: 30px auto 0 auto;
}
/* footer styling */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.social-media a {
  padding: 0 5px;
}
.error-text {
  display: none;
}

/* media query */
@media all and (max-width: 750px) {
  .project-container {
    flex-direction: column;
    position: relative;
  }
  .project-description {
    text-align: center;
    width: 90%;
  }
  .project-details-link {
    display: block;
  }
  .project-image-container {
    width: 100%;
  }
  .project-image {
    border-radius: 5px 5px 0 0;
  }
  .project-modal,
  .project-modal:hover {
    display: none;
  }

  h1 {
    font-size: 22px;
  }
}
@media all and (max-width: 600px) {
  nav.page-header__item {
    font-size: 14px;
  }
  .navigation-list li {
    margin-left: 6px;
  }
}
@media all and (max-width: 500px) {
  header {
    height: 130px;
  }
  .header-contents {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .profile {
    flex-direction: column;
    align-items: center;
  }
}
