:root {
  --header-background: #101146;
  --header-link: #d78f11;
  --header-link--secondary: #a0690b;
  --header-link--tertiary: #fccd7d;
  --body-background: #ffffe2;
  --alt-text: rgb(26, 54, 90);
  --container-background: #7777501c;
  --white: #fff;
  --dark-grey: #2b2b2b5b;
  --contact-link: #314ab9;
  --sun-yellow: #edc655;
  --sun-red: #f76414;
  --heading-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: var(--header-background);
  background-color: var(--body-background);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
h1 {
  font-size: 30px;
  font-weight: var(--heading-weight);
}
h2 {
  font-size: 24px;
  font-weight: var(--heading-weight);
}
h3 {
  font-size: 18px;
  font-weight: var(--heading-weight);
}

/* Link and button styling */
a {
  color: var(--header-link);
}
a:visited {
  color: var(--header-link);
}
a:hover,
a:focus {
  text-decoration: none;
}
a:active {
  color: var(--header-link--secondary);
}
.contact__links {
  color: var(--contact-link);
}
.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  background-color: var(--header-background);
  color: var(--header-link);
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}
.button:hover,
button:hover,
.button:focus,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}
.button a,
button a {
  color: var(--white);
}

/* header and nav styling */
.page-header {
  background-color: var(--header-background);
  margin-bottom: 25px;
}
.header-contents {
  display: flex;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
#logo {
  width: 200px;
  height: 70px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.navigation-list__item--active {
  text-decoration: none;
}
nav.page-header__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation-list li {
  display: inline-block;
  margin-left: 12px;
}

/*  main container styling */
.main__content {
  max-width: 720px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-content {
  width: 80%;
  justify-content: center;
  max-width: 720px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-content div {
  display: flex;
  justify-content: center;
}
.content-container {
  display: flex;
  justify-content: center;
}
.heading-container {
  display: flex;
  justify-content: center;
}
.container-padding {
  padding: 0 20px 20px 20px;
}
.flex-col {
  flex-direction: column;
}
.container-background {
  background-color: var(--container-background);
}

/* index.html page. profile image and info */
/* .elevator-pitch {
  display: flex;
  justify-content: center;
} */
.elevator-pitch p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.project-container {
  display: flex;
  position: relative;
  margin: 10px 0;
  border-radius: 5px;
}
.project-modal {
  display: flex;
  opacity: 0%;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(17, 17, 17, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.project-modal:hover {
  opacity: 100%;
}

.project-image-container {
  display: flex;
  align-items: center;
}
.project-image {
  height: 200px;
  border-radius: 5px 0 0 5px;
}
.project-description {
  display: flex;
  margin: 20px;
  align-items: center;
}

/* movie-craze.html styling */

.work-content-container {
  display: flex;
  border-radius: 5px;
}
.work-content-container h2 {
  text-decoration: underline !important;
}
.work-content-container p {
  color: var(--alt-text);
}
.image {
  border-radius: 5px;
  width: 300px;
  box-shadow: 2px 2px 5px;
}
.image-left {
  float: left;

  margin-right: 20px;
}
.image-right {
  float: right;
  margin-left: 20px;
}

/* about.html styling */

/* contact styling */
.contact__container {
  display: flex;
  flex-direction: column;
}
.contact__message {
  display: flex;
  justify-content: center;
}
.contact__message form {
  display: flex;
  flex-direction: column;
}
.contact__message form label {
  padding-top: 10px;
}
.contact__mesage_limit {
  padding: 0 0 10px 0;
  margin: 0;
}
.contact__container h1 {
  margin: 30px auto 0 auto;
}
.contact__info {
  display: flex;
  justify-content: center;
}
/* footer styling */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.social-media a {
  padding: 0 5px;
}

/* media query */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
@media all and (max-width: 600px) {
  nav.page-header__item {
    font-size: 14px;
  }
  .navigation-list li {
    margin-left: 6px;
  }
}
@media all and (max-width: 500px) {
  header {
    height: 130px;
  }
  .header-contents {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .profile {
    flex-direction: column;
    align-items: center;
  }
}

/* old grid styling for work page

/* start grid fallback 
.grid__item {
  display: inline-block;
  width: 33%;
} /* end grid fallback */
/*
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .grid__item {
    background-color: var(--grid-item-background);
    padding: 15px;
    width: auto;
    min-height: auto;
    margin: 0;
    box-shadow: 2px 2px 5px var(--dark-grey);
    border-radius: 5px;
  }
  /* .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  } */
