:root {
  --header-background: #333330;
  --header-link: #c2ddb9;
  --header-link--secondary: #a0690b;
  --header-link--tertiary: #fccd7d;
  --body-background: #ffffff;
  --alt-text: rgb(26, 54, 90);
  --container-background: #f3f8f1;
  --container-shadow: #5252372f;
  --button-shadow: #1011464d;
  --white: #fff;
  --contact-link: #314ab9;
  --heading-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  color: var(--header-background);
  background-color: var(--body-background);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
h1 {
  font-size: 30px;
  font-weight: var(--heading-weight);
}
h2 {
  font-size: 24px;
  font-weight: var(--heading-weight);
}
h3 {
  font-size: 18px;
  font-weight: var(--heading-weight);
}

/* Link and button styling */
a {
  color: var(--header-link);
}
a:visited {
  color: var(--header-link);
}
a:hover,
a:focus {
  text-decoration: none;
}
a:active {
  color: var(--header-link--secondary);
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  background-color: var(--header-background);
  color: var(--header-link);
  padding: 3px 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
  box-shadow: 1px 1px 1px var(--button-shadow);
}
.button:hover,
button:hover,
.button:focus,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}
.button a,
button a {
  color: var(--white);
}

/* header and nav styling */

.page-header {
  background-color: var(--header-background);
  margin-bottom: 25px;
}
.page-header__item div {
  display: flex;
  justify-content: center;
  align-items: space-around;
}
.header-contents {
  display: flex;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-contents div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav.page-header__item {
  display: flex;
  justify-content: end;
  align-items: center;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.page-header__item h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 40px;
  color: var(--header-link);
  margin-top: 5px;
  margin-bottom: 0;
}
.job-title {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px !important;
  color: var(--white) !important;
  margin: 0 0 14px 0;
}
.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation-list li {
  display: inline-block;
  margin-left: 12px;
  padding: 0 12px;
  transition: background-color 0.4s, color 0.4s;
  border-radius: 2px;
}
.navigation-list li:hover {
  display: inline-block;
  margin-left: 12px;
  color: var(--header-background);
  background-color: var(--header-link);
}
.navigation-list a {
  text-decoration: none;
}
.navigation-list p {
  margin: 0;
  font-size: 18px !important;
}

/*  main container styling */
.main-content {
  width: 80%;
  justify-content: center;
  max-width: 720px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}
.contact-format-helper div {
  display: flex;
  justify-content: center;
}
.content-container {
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.heading-container {
  display: flex;
  justify-content: center;
}
.container-padding {
  padding: 0 20px 20px 20px;
}
.flex-col {
  flex-direction: column;
}
.container-background {
  background-color: var(--container-background);
}
.container-shadow {
  box-shadow: 3px 3px 2px var(--container-shadow);
}

/* index.html page. profile image and info */

.elevator-pitch p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.project-container {
  display: flex;
  position: relative;
  margin: 10px 0;
  border-radius: 5px;
}
.project-modal {
  display: flex;
  opacity: 0%;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(17, 17, 17, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.2s;
}
.project-modal:hover {
  opacity: 100%;
}
.project-modal-text {
  font-size: 20px;
}

.project-image-container {
  display: flex;
  align-items: center;
  width: 40%;
}
.project-image {
  width: 100%;
  border-radius: 5px 0 0 5px;
}
.project-description {
  display: flex;
  width: 60%;
  margin: 20px;
  align-items: center;
}
.project-details-link {
  display: none;
}

/* movie-craze.html styling */

.work-content-container {
  display: flex;
  border-radius: 5px;
}
.work-content-container h2 {
  text-decoration: underline !important;
}
.work-content-container p {
  color: var(--alt-text);
}
.image {
  border-radius: 5px;
  width: 300px;
  box-shadow: 2px 2px 5px;
}
.image-left {
  float: left;

  margin-right: 20px;
}
.image-right {
  float: right;
  margin-left: 20px;
}

/* about.html styling */
.skills-container {
  display: flex;
  justify-content: center;
}
.skills-container ul {
  height: 300px;
  column-count: 3;
}
.skills-container ul li {
  margin: 0 20px;
  list-style: circle;
  width: 30%;
}

/* contact styling */
.input-error {
  border: 1px solid red;
}
.input-success {
  border: 1px solid green;
}
.errors {
  color: var(--alt-text);
  font-style: italic;
  font-size: 12px;
}
.contact-message {
  display: block;
}
.contact-message form {
  display: flex;
  flex-direction: column;
}
.contact-message form label {
  padding-top: 10px;
}
.contact-mesage_limit {
  padding: 0 0 10px 0;
  margin: 0;
}
.contact-container h1 {
  margin: 30px auto 0 auto;
}
.send-message-button {
  margin-top: 5px;
  width: 80px;
}
/* footer styling */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.social-media a {
  padding: 0 5px;
}
.error-text {
  display: none;
}

/* media query */
@media all and (max-width: 750px) {
  .project-container {
    flex-direction: column;
    position: relative;
  }
  .project-description {
    text-align: center;
    width: 90%;
  }
  .project-details-link {
    display: block;
  }
  .project-image-container {
    width: 100%;
  }
  .project-image {
    border-radius: 5px 5px 0 0;
  }
  .project-modal,
  .project-modal:hover {
    display: none;
  }

  h1 {
    font-size: 22px;
  }
  header {
    height: 130px;
  }
  .header-contents {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .header-contents div h1 {
    margin-top: 0;
  }
  nav.page-header__item {
    font-size: 14px;
  }
  .navigation-list li {
    margin-left: 6px;
  }
  .skills-container ul {
    column-count: 2;
  }
}

@media all and (max-width: 500px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .image-left,
  .image-right {
    display: none;
  }
}

@media all and (min-width: 1000px) {
  .header-contents {
    max-width: 1000px;
  }
}
