/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

:root {
  --header-background: #101146;
  --header-link: #d78f11;
  --header-link--secondary: #a0690b;
  --header-link--tertiary: #fccd7d;
  --body-background: #ffffe2;
  --grid-item-background: #7777501c;
  --white: #fff;
  --dark-grey: #2b2b2b5b;
  --contact-link: #314ab9;
  --sun-yellow: #edc655;
  --sun-red: #f76414;
  --heading-weight: 700;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: var(--header-background);
  background-color: var(--body-background);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
h1 {
  font-size: 30px;
  font-weight: var(--heading-weight);
}
h2 {
  font-size: 24px;
  font-weight: var(--heading-weight);
}
h3 {
  font-size: 18px;
  font-weight: var(--heading-weight);
}

/* Link and button styling */
a {
  color: var(--header-link);
}
a:visited {
  color: var(--header-link);
}
a:hover,
a:focus {
  text-decoration: none;
}
a:active {
  color: var(--header-link--secondary);
}
.contact__links {
  color: var(--contact-link);
}
.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  background-color: var(--header-background);
  color: var(--header-link);
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.button:hover,
button:hover,
.button:focus,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}
.button a,
button a {
  color: var(--white);
}

/* header and nav styling */
.page-header {
  background-color: var(--header-background);
  margin-bottom: 25px;
}
.header__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
#logo {
  width: 200px;
  height: 70px;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}
.navigation-list__item--active {
  text-decoration: none;
}
nav.page-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation-list li {
  display: inline-block;
  margin-left: 12px;
}

/*  main container styling */
.main__content {
  max-width: 720px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

/* index.html page. profile image and info */
.profile {
  max-width: 700px;
  min-width: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.profile__portrait {
  width: 250px;
  height: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

/* work.html styling */
.title__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
} /* end grid fallback */

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .grid__item {
    background-color: var(--grid-item-background);
    padding: 15px;
    width: auto;
    min-height: auto;
    margin: 0;
    -webkit-box-shadow: 2px 2px 5px var(--dark-grey);
    box-shadow: 2px 2px 5px var(--dark-grey);
    border-radius: 5px;
  }
  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

/* about.html styling */

.about__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.about__about ul {
  list-style: none;
  padding: 0;
}
.about__about a {
  width: 200px;
  margin: 0 auto;
}
.about__table,
.about__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@-webkit-keyframes color-change {
  from {
    fill: var(--sun-yellow);
  }
  to {
    fill: var(--sun-red);
  }
}
@keyframes color-change {
  from {
    fill: var(--sun-yellow);
  }
  to {
    fill: var(--sun-red);
  }
}
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* contact styling */
.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.contact__message form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact__message form label {
  padding-top: 10px;
}
.contact__mesage_limit {
  padding: 0 0 10px 0;
  margin: 0;
}
.contact__container h1 {
  margin: 30px auto 0 auto;
}
.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* footer styling */
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.social-media a {
  padding: 0 5px;
}

/* media query */
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
@media all and (max-width: 600px) {
  nav.page-header__item {
    font-size: 14px;
  }
  .navigation-list li {
    margin-left: 6px;
  }
}
@media all and (max-width: 500px) {
  header {
    height: 130px;
  }
  .header__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
